<app-menu />
<app-screen-title screenTitle="Memory" />
<mat-grid-list cols="3" gutterSize="10" rowHeight="630">
  <mat-grid-tile>
    <div>
      <mat-card appearance="raised">
        <mat-card-header>
          <mat-card-title>Status Report</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="sample-table-filter-field">
            <mat-label>Filter</mat-label>
            <input #samplerStatusFilter matInput (input)="onStatusReportFilterInput($event)" width="12">
          </mat-form-field>
          <button mat-icon-button (click)="samplerStatusFilter.value = '';setStatusReportFilter('')">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
      @if (samplerStatusDataLoading) {
        <mat-spinner></mat-spinner>
      }
      @else {
        <mat-table mat-table [dataSource]="samplerStatusReportDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let statusData">{{statusData.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let statusData">{{statusData.value}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="samplerStatusDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: samplerStatusDisplayedColumns;"></mat-row>
        </mat-table>
      }
      <mat-paginator #statusPaginator [pageSizeOptions]="[5]"
        showFirstLastButtons
        aria-label="Select page of resident samples"
        class="mat-elevation-z8">
      </mat-paginator>
      <button mat-mini-fab (click)="loadStatusReport()" style="margin-left: 1em;margin-top: 1em;">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <mat-card appearance="raised">
        <mat-card-header>
          <mat-card-title>Resident Programs</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="sample-table-filter-field">
            <mat-label>Filter</mat-label>
            <input #programNameFilter matInput (input)="onProgramNameFilterInput($event)" width="12">
          </mat-form-field>
          <button mat-icon-button (click)="programNameFilter.value = '';setProgramNameFilter('')">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
      @if (samplerResidentProgramNamesLoading) {
        <mat-spinner></mat-spinner>
      }
      @else {
        <mat-table [dataSource]="samplerResidentProgramNamesDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="program_number">
            <mat-header-cell mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let programDetails">{{programDetails.midi_program_number + 1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let programDetails">{{programDetails.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let programDetails; let i = index">
              <button mat-mini-fab (click)="editProgram(i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab (click)="deleteProgram(i)" style="margin-left: 1em;">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="samplerResidentProgramsDisplayedColumns"></mat-header-row>
          <mat-row
            [class.selected-row]="programDetails.midi_program_number == +selectedProgramNumber.value - 1"
            *matRowDef="let programDetails;let i = index; columns: samplerResidentProgramsDisplayedColumns;"></mat-row>
        </mat-table>
    }

      <mat-paginator #residentProgramsPaginator [pageSizeOptions]="[5]"
        showFirstLastButtons
        aria-label="Select page of resident programs"
        class="mat-elevation-z8">
      </mat-paginator>
      <button mat-mini-fab (click)="addProgram()" style="margin-left: 1em;margin-top: 1em;">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab (click)="loadResidentPrograms()" style="margin-left: 1em;margin-top: 1em;">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <mat-card appearance="raised">
        <mat-card-header>
          <mat-card-title>Resident Samples</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="sample-table-filter-field">
            <mat-label>Filter</mat-label>
            <input #sampleNameFilter matInput (input)="onSampleNameFilterInput($event)">
          </mat-form-field>
          <button mat-icon-button (click)="sampleNameFilter.value = '';setSampleNameFilter('')">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
      @if (samplerResidentSampleNamesLoading) {
        <mat-spinner></mat-spinner>
      }
      @else {
        <mat-table mat-table [dataSource]="samplerResidentSampleNamesDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let sampleName">{{sampleName}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let sampleName">
              <button mat-mini-fab (click)="editSample(sampleName)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab (click)="deleteSample(sampleName)" style="margin-left: 1em;">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="samplerResidentNamesDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let sampleName; columns: samplerResidentNamesDisplayedColumns;"></mat-row>
        </mat-table>
      }

      <mat-paginator #residentSamplesPaginator [pageSizeOptions]="[5]"
        showFirstLastButtons
        aria-label="Select page of resident samples"
        class="mat-elevation-z8">
      </mat-paginator>
      <button mat-mini-fab (click)="loadResidentSamples()" style="margin-left: 1em;margin-top: 1em;">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" gutterSize="10" rowHeight="60">
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Selected Program Number</mat-label>
      <input #selectedProgramNumber matInput type="number" min="1" max="128" [value]="s1000MiscellaneousData.selectedProgramNumber + 1" (change)="onSelectedProgramNumberChange(+selectedProgramNumber.value - 1)">
      <mat-hint>Min 1 Max 128</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Basic Midi Channel</mat-label>
      <input #basicMidiChannel matInput type="number" min="1" max="16" [value]="s1000MiscellaneousData.basicMidiChannel + 1" (change)="onS1000MiscDataChange()">
      <mat-hint>Min 1 Max 16</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Midi Exlusive Channel</mat-label>
      <input #midiExlusiveChannel matInput type="number" min="1" max="128" [value]="s1000MiscellaneousData.midiExlusiveChannel + 1" (change)="onS1000MiscDataChange()">
      <mat-hint>Min 1 Max 128</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox #midiPlayCommandsOmniOverride [checked]="s1000MiscellaneousData.midiPlayCommandsOmniOverride" (change)="onS1000MiscDataChange()">Midi Play Commands Omni Override</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox #basicChannelOmni [checked]="s1000MiscellaneousData.basicChannelOmni" (change)="onS1000MiscDataChange()">Basic Channel Omni</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox #midiProgramSelectEnable [checked]="s1000MiscellaneousData.midiProgramSelectEnable" (change)="onS1000MiscDataChange()">Midi Program Select Enable</mat-checkbox>
  </mat-grid-tile>
</mat-grid-list>

