<app-menu />
<app-screen-title screenTitle="Portamento" />
<nz-breadcrumb nzSeparator=">" style="margin-left: 1em;">
  <nz-breadcrumb-item>
    <a routerLink="/sampler">
      <span nz-icon nzType="home"></span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/in-memory-program/{{+programNumberInMemory}}">Program - {{programHeader?.name}}</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Portamento</nz-breadcrumb-item>
</nz-breadcrumb>
<mat-grid-list cols="1" rowHeight="100">
  <mat-grid-tile>
    <mat-form-field>
      <label>Rate</label>
      <input matInput type="number" min="0" max="99" [value]="programHeader?.portamento?.rate" (change)="portamentoRateChanged($event)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [value]="'' + programHeader?.portamento?.type" (valueChange)="portamentoTypeChanged($event)">
        @for(item of portamentoTypes; track item.value ) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox [checked]="programHeader?.portamento?.enabled" (change)="portamentoEnabledChanged($event.checked)">Portamento</mat-checkbox>
  </mat-grid-tile>
</mat-grid-list>
