<app-menu />
<app-screen-title screenTitle="Filter 2" />
<nz-breadcrumb nzSeparator=">" style="margin-left: 1em;">
  <nz-breadcrumb-item>
    <a routerLink="/sampler">
      <span nz-icon nzType="home"></span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/in-memory-program/{{+programNumberInMemory}}">Program - {{programHeader?.name}}</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/in-memory-program/{{+programNumberInMemory}}/in-memory-keygroup/{{+keygroupNumberInMemory}}">Keygroup {{+keygroupNumberInMemory + 1}}</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Filter 2</nz-breadcrumb-item>
</nz-breadcrumb>
<mat-grid-list cols="3" rowHeight="80">
  <mat-grid-tile>
    <mat-checkbox [checked]="keygroupHeader?.filter2ToneEnabled" (change)="keygroupBooleanTypeChanged(168, $event.checked)">Filter 2/Tone Enable</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Frequency</mat-label>
      <input matInput type="number" min="0" max="99" [value]="keygroupHeader?.filter2?.frequency" (change)="keygroupHeaderChanged(177, $event)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Filter 2 Freq. Mod. 1</mat-label>
      <mat-select [value]="'' + programHeader?.filter2FreqModulationInput1Type" (valueChange)="programEnumTypeChanged(99, $event)">
        @for(item of modulationTypes; track item.value ) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Frequency Modulation 1</mat-label>
      <input matInput type="number" min="-50" max="50" [value]="keygroupHeader?.filter2?.freqModulationInput1Amount" (change)="keygroupHeaderChanged(174, $event)">
      <mat-hint>Min -50 Max 50</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Key Follow</mat-label>
      <input matInput type="number" min="-24" max="24" [value]="keygroupHeader?.filter2?.keyFollow" (change)="keygroupHeaderChanged(178, $event)">
      <mat-hint>Min -24 Max 24</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Filter 2 Freq. Mod. 2</mat-label>
      <mat-select [value]="'' + programHeader?.filter2FreqModulationInput2Type" (valueChange)="programEnumTypeChanged(100, $event)">
        @for(item of modulationTypes; track item.value ) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Frequency Modulation 2</mat-label>
      <input matInput type="number" min="-50" max="50" [value]="keygroupHeader?.filter2?.freqModulationInput2Amount" (change)="keygroupHeaderChanged(175, $event)">
      <mat-hint>Min -50 Max 50</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Resonance</mat-label>
      <input matInput type="number" min="0" max="15" [value]="keygroupHeader?.filter2?.resonance" (change)="keygroupHeaderChanged(171, $event)">
      <mat-hint>Min 0 Max 31</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Filter 2 Freq. Mod. 3</mat-label>
      <mat-select [value]="'' + programHeader?.filter2FreqModulationInput3Type" (valueChange)="programEnumTypeChanged(101, $event)">
        @for(item of modulationTypes; track item.value ) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Frequency Modulation 3</mat-label>
      <input matInput type="number" min="-50" max="50" [value]="keygroupHeader?.filter2?.freqModulationInput3Amount" (change)="keygroupHeaderChanged(176, $event)">
      <mat-hint>Min -50 Max 50</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Filter Type</mat-label>
      <mat-select [value]="'' + keygroupHeader?.filter2?.filterType" (valueChange)="keygroupEnumTypeChanged(170, $event)">
        @for(item of filterTypes; track item.value ) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Filter 2 Attenuator</mat-label>
      <mat-select [value]="'' + keygroupHeader?.filter2?.attenuator" (valueChange)="keygroupEnumTypeChanged(169, $event)">
        @for(item of attenuation; track item.value ) {
          <mat-option value="{{item.value}}">{{item.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
