<app-screen-title screenTitle="Reverb" />
<app-menu />
<mat-grid-list cols="2">
  <mat-grid-tile>
    <app-sampler-table
      #reverbsTable
      title="Reverbs"
      [pageSizesInRows]="[10]"
      [dataRetriever]="reverbsDataRetriever"
      [columnDefinitions]="reverbColumnDefinitions"
      [filterPredicate]="nameFilterPredicate"
      (doSelectedRowChanged)="onRowClick($event)"
      [allowRowSelection]="true"
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="internalMatGrid">
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <app-fixed-length-name-field nameFieldTitle="Reverb name" nameFieldValue="{{reverbHeader ? reverbHeader.name.trim(): ''}}" maxChars="12" minChars="3" (doChange)="onReverbNameChange($event)" />
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select #reverbTypeSelect [value]="reverbHeader ? '' + reverbHeader.type : '0'" (valueChange)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 13, +reverbTypeSelect.value)">
              @for (reverbType of reverbType; track reverbType.value) {
                <mat-option value="{{reverbType.value}}">{{reverbType.label}}</mat-option>
              }
            </mat-select>
            <mat-hint align="end">Navigate to a keygroup by selecting one</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Individual Output Level</mat-label>
            <input matInput #outputLevel type="number" min="0" max="99" [value]="reverbHeader?.outputLevel" (change)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 15, +outputLevel.value)">
            <mat-hint>Min 0 Max 99</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Decay</mat-label>
            <input matInput #decayTime type="number" min="0" max="99" [value]="reverbHeader?.decayTime" (change)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 33, +decayTime.value)">
            <mat-hint>Min 0 Max 99</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Stereo Pan</mat-label>
            <input matInput #pan type="number" min="-50" max="50" [value]="reverbHeader?.outputBalance" (change)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 16, +pan.value)">
            <mat-hint>Min -50 Max 50 {{+pan.value | stereoPan}}</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>High Freq. Damping</mat-label>
            <input matInput #highFrequencyDamping type="number" min="0" max="99" [value]="reverbHeader?.highFrequencyDamping" (change)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 32, +highFrequencyDamping.value)">
            <mat-hint>Min 0 Max 99</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <label for="highFrequencyCut">High Frequency Cut</label>
            <input matInput #highFrequencyCut type="number" min="0" max="99" [value]="reverbHeader?.highFrequencyCut" (change)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 24, +highFrequencyCut.value)">
            <mat-hint>Min 0 Max 99</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <label for="preDelay">Delay</label>
            <input matInput #preDelay type="number" min="0" max="360" [value]="reverbHeader?.preDelay" (change)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 21, +preDelay.value)">
            <mat-hint>Min 0 Max 360</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <label for="stereoWidth">Stereo Width</label>
            <input matInput #stereoWidth type="number" min="0" max="99" [value]="reverbHeader?.stereoWidth" (change)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 17, +stereoWidth.value)">
            <mat-hint>Min 0 Max 99</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Diffusion</mat-label>
            <input matInput #diffusion type="number" min="0" max="99" [value]="reverbHeader?.diffusion" (change)="samplerService.samplerReverbUpdatePart(+reverbNumberInMemory, 35, +diffusion.value)">
            <mat-hint>Min 0 Max 99</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
