

<!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link (click)="activeLink = 'Config'" [active]="activeLink == 'Config'" routerLink="/config" routerLinkActive="active-link" ariaCurrentWhenActive="page">Config</a>
  <a mat-tab-link (click)="activeLink = 'Sampler'" [active]="activeLink == 'Sampler'" routerLink="/sampler" routerLinkActive="active-link" ariaCurrentWhenActive="page">Sampler</a>
</nav> -->

<!-- <mat-tab-nav-panel #tabPanel> -->
  <router-outlet></router-outlet>
<!-- </mat-tab-nav-panel> -->

