<app-menu />
<app-screen-title screenTitle="Envelope 3" />
<nz-breadcrumb nzSeparator=">" style="margin-left: 1em;">
  <nz-breadcrumb-item>
    <a routerLink="/sampler">
      <span nz-icon nzType="home"></span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/in-memory-program/{{+programNumberInMemory}}">Program - {{programHeader?.name}}</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/in-memory-program/{{+programNumberInMemory}}/in-memory-keygroup/{{+keygroupNumberInMemory}}">Keygroup {{+keygroupNumberInMemory + 1}}</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Envelope 3</nz-breadcrumb-item>
</nz-breadcrumb>
<mat-grid-list cols="4" rowHeight="120">
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Rate 1</mat-label>
      <input #rate1 matInput type="number" min="0" max="99" [value]="keygroupHeader?.envelope3?.rate1" (change)="keygroupHeaderChanged(12, $event);envelope3CanvasComponent.drawEnvelope(+rate1.value, +level1.value, +rate2.value, +level2.value, +rate3.value, +level3.value, +rate4.value, +level4.value)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Level 1</mat-label>
      <input #level1 matInput type="number" min="0" max="99" [value]="keygroupHeader?.envelope3?.level1" (change)="keygroupHeaderChanged(16, $event);envelope3CanvasComponent.drawEnvelope(+rate1.value, +level1.value, +rate2.value, +level2.value, +rate3.value, +level3.value, +rate4.value, +level4.value)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Vel. Mod. of Rate 1</mat-label>
      <input matInput type="number" min="-50" max="50" [value]="keygroupHeader?.envelope3?.velocityModulationOfRate1" (change)="keygroupHeaderChanged(16, $event)">
      <mat-hint>Min -50 Max 50</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="width: 410px;height: 110px;background-color: lightgray;">
      <app-four-stage-envelope-canvas #envelope3CanvasComponent width="400" height="100" style="margin: 5px;"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Rate 2</mat-label>
      <input #rate2 matInput type="number" min="0" max="99" [value]="keygroupHeader?.envelope3?.rate2" (change)="keygroupHeaderChanged(13, $event);envelope3CanvasComponent.drawEnvelope(+rate1.value, +level1.value, +rate2.value, +level2.value, +rate3.value, +level3.value, +rate4.value, +level4.value)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Level 2</mat-label>
      <input #level2 matInput type="number" min="0" max="99" [value]="keygroupHeader?.envelope3?.level2" (change)="keygroupHeaderChanged(17, $event);envelope3CanvasComponent.drawEnvelope(+rate1.value, +level1.value, +rate2.value, +level2.value, +rate3.value, +level3.value, +rate4.value, +level4.value)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Vel. Mod. of Rate 4</mat-label>
      <input matInput type="number" min="-50" max="50" [value]="keygroupHeader?.envelope3?.velocityModulationOfRate4" (change)="keygroupHeaderChanged(16, $event)">
      <mat-hint>Min -50 Max 50</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Rate 3</mat-label>
      <input #rate3 matInput type="number" min="0" max="99" [value]="keygroupHeader?.envelope3?.rate3" (change)="keygroupHeaderChanged(14, $event);envelope3CanvasComponent.drawEnvelope(+rate1.value, +level1.value, +rate2.value, +level2.value, +rate3.value, +level3.value, +rate4.value, +level4.value)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Level 3</mat-label>
      <input #level3 matInput type="number" min="0" max="99" [value]="keygroupHeader?.envelope3?.level3" (change)="keygroupHeaderChanged(18, $event);envelope3CanvasComponent.drawEnvelope(+rate1.value, +level1.value, +rate2.value, +level2.value, +rate3.value, +level3.value, +rate4.value, +level4.value)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Vel. Off Mod. of Rate 4</mat-label>
      <input matInput type="number" min="-50" max="50" [value]="keygroupHeader?.envelope3?.velocityOffModulationOfRate4" (change)="keygroupHeaderChanged(16, $event)">
      <mat-hint>Min -50 Max 50</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Rate 4</mat-label>
      <input #rate4 matInput type="number" min="0" max="99" [value]="keygroupHeader?.envelope3?.rate4" (change)="keygroupHeaderChanged(15, $event);envelope3CanvasComponent.drawEnvelope(+rate1.value, +level1.value, +rate2.value, +level2.value, +rate3.value, +level3.value, +rate4.value, +level4.value)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Level 4</mat-label>
      <input #level4 matInput type="number" min="0" max="99" [value]="keygroupHeader?.envelope3?.level4" (change)="keygroupHeaderChanged(19, $event);envelope3CanvasComponent.drawEnvelope(+rate1.value, +level1.value, +rate2.value, +level2.value, +rate3.value, +level3.value, +rate4.value, +level4.value)">
      <mat-hint>Min 0 Max 99</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Key. Mod. of Rate 2 and Rate 4</mat-label>
      <input matInput type="number" min="-50" max="50" [value]="keygroupHeader?.envelope3?.keyModulationOfRate2AndRate4" (change)="keygroupHeaderChanged(16, $event)">
      <mat-hint>Min -50 Max 50</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Vel. Mod. of Envelope</mat-label>
      <input matInput type="number" min="-50" max="50" [value]="keygroupHeader?.envelope3?.velocityModulationOfEnvelope" (change)="keygroupHeaderChanged(16, $event)">
      <mat-hint>Min -50 Max 50</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
