<app-screen-title screenTitle="Master Tuning" />
<app-screen-program-name programName="{{programHeader?.name?.trim()}}" />
<mat-grid-list cols="1" rowHeight="100">
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Program Tune</mat-label>
      <input matInput type="number" min="-50.0" max="50.0" step="0.01" [value]="programHeader?.masterTuning?.tune" (change)="tuneAmountChanged($event)">
      <mat-hint>Min -50.0 Max 50.0</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
