<app-menu />
<app-screen-title [screenTitle]="openMode ? 'Open' : 'Save'" />
<mat-grid-list [cols]="!openMode ? 4 : 3" gutterSize="10" rowHeight="500">
  @if (!openMode) {
    <mat-grid-tile>
      <app-sampler-table
        #memoryItemsTable
        title="Memory Items"
        [pageSizesInRows]="[5]"
        [dataRetriever]="memoryItemsDataRetriever"
        [columnDefinitions]="memoryItemsColumnDefinitions"
        [filterPredicate]="nameFilterPredicate"
        [allowRowSelection]="true"
        (doSelectedRowChanged)="onMemoryItemSelectionIndexChange($event)"
      />
    </mat-grid-tile>
  }
  <mat-grid-tile >
    <app-sampler-table
      #partitionsTable
      title="Partition List"
      [pageSizesInRows]="[5]"
      [dataRetriever]="partitionDataRetriever"
      [columnDefinitions]="partitionColumnDefinitions"
      [filterPredicate]="nameFilterPredicate"
      [allowRowSelection]="true"
      (doSelectedRowChanged)="onPartitionSelectionIndexChange($event)"
      />
  </mat-grid-tile>
  <mat-grid-tile >
    <app-sampler-table
      #volumeListTable
      title="Volume List"
      [pageSizesInRows]="[5]"
      [dataRetriever]="volumeListDataRetriever"
      [columnDefinitions]="volumeListColumnDefinitions"
      [filterPredicate]="nameFilterPredicate"
      [allowRowSelection]="true"
      (doSelectedRowChanged)="onVolumeSelectionIndexChange($event)"
      />
  </mat-grid-tile>
  <mat-grid-tile>
    <app-sampler-table
      #volumeContentsTable
      title="Volume Contents"
      [pageSizesInRows]="[5]"
      [dataRetriever]="volumeContentsDataRetriever"
      [columnDefinitions]="volumeContentsColumnDefinitions"
      [filterPredicate]="nameFilterPredicate"
      [allowRowSelection]="true"
      (doSelectedRowChanged)="onHarddiskVolumeEntrySelectionIndexChange($event)"
      />
  </mat-grid-tile>
</mat-grid-list>
@if (openMode) {
  <div style="margin-left: 1em;margin-top: 2em;">
    <mat-form-field>
      <mat-label>Load Type</mat-label>
      <mat-select #openLoadType>
        @for (element of diskAccessReadWrite; track element.value) {
          <mat-option [value]="element.value">{{element.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-checkbox #clearMemoryOnLoad>Clear memory</mat-checkbox>
  </div>
  <div style="text-align: end;">
    <button mat-mini-fab (click)="router.navigate(['sampler'])" style="margin: 1em;width: 10em;">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
    <button mat-mini-fab (click)="onLoadVolume(openLoadType.value)" style="margin: 1em;width: 10em;">
      <mat-icon>open_in_browser</mat-icon>
      <span>Open</span>
    </button>
  </div>
}
@else {
  <div style="margin-left: 1em;margin-top: 2em;">
    <mat-form-field>
      <mat-label>Save Type</mat-label>
      <mat-select #saveLoadType>
        @for (element of diskAccessReadWrite; track element.value) {
          <mat-option [value]="element.value">{{element.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-checkbox #clearVolumeOnSave>Clear volume</mat-checkbox>
    <mat-checkbox #createNewVolumeOnSave>Create new volume</mat-checkbox>
  </div>
  <div style="text-align: end;">
    <button mat-mini-fab (click)="router.navigate(['sampler'])" style="margin: 1em;width: 10em;">
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
    <button mat-mini-fab (click)="onSaveMemory(saveLoadType.value)" style="margin: 1em;width: 10em;">
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>
  </div>
}

